.input-group {
	margin-left: 130%;
	margin-bottom: 10%;
	width: 30%;
	height: 30%;
}
.movie{       
color:#8C9295;
margin-top: 10%;
 
}
.busc{
	margin-top: 10%;
}
.estrenos{
	width: 

padding:5px 10px 5px 10px;
}